h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}
.butn{
  padding: 10px;
  background: #fff; 
  border: 2px solid rgb(224, 9, 9);
  font-weight: 600;
  border-radius: 5px;
   
  display: flex;
  text-align: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}