.card{
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.09);
-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.09);
box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.09);
padding: 10px;
border-radius: 10px;
}

.vue-pdf-embed > div {
  margin-bottom: 8px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
}

.app-header {
  padding: 16px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
  background-color: #555;
  color: #ddd;
}

.app-content {
  padding: 24px 16px;
}
.vue-pdf-embed canvas{
  width: 100%!important;
  height: auto!important;
}