<script>
export default{
  componet:{
  }
}
</script>

<template>
  <main>
    <h2 class="font-30 text-center font-weight-6 mt-20">Welcome The PDF Viewer</h2>
    <p class="text-center">Please click to  list pdf</p>
    <div  class="flex justify-center  mt-30 text-center">
    <router-link  class="butn   w-50 w-res-100" to="/list-pdf">List PDF </router-link>
  </div>
  </main>
</template>
