<template>
  <div class="container">
    <h2 class="font-30 font-weight-5 mt-20 mb-10">List PDF</h2>

    <div v-for="(item, index) in DataPdf" :key="index" class="card mb-10">
      <div
        class="flex align-center margin-auto cursor-pointer"
        @click="viewPdf(item)"
      >
        <img src="../assets/image-pdf.png" class="w-px-50 h-px-50" />
        <h4 class="ml-10 d-block">
          {{ item.namefile }} <br />
          <span class="d-block font-12 elipsis-2 w-px-400 w-res-px-180"
            >{{ item.Description }} <span>....</span></span
          >
        </h4>
      </div>
    </div>
  </div>
</template>

<script>
import json from "../json/data.json";
export default {
  data() {
    return {
      DataPdf: json,
    };
  },
  methods: {
    viewPdf(val) {
      if (val.id == 1) {
        this.$router.push("/view-local");
      } else {
        this.$router.push("/view-from-url");
      }
    },
  },
};
</script>
