<template>
  <div>
    <div class="app-header">
      <template v-if="isLoading"> Loading... </template>
      <template v-else>
        <span v-if="showAllPages"> {{ pageCount }} page(s) </span>

        <span v-else>
          <button :disabled="page <= 1" @click="page--">❮</button>

          {{ page }} / {{ pageCount }}

          <button
            class="btn btn-primary"
            :disabled="page >= pageCount"
            @click="page++"
          >
            ❯
          </button>
        </span>

        <label class="float-right">
          <input v-model="showAllPages" type="checkbox" />
          Show all pages
        </label>
      </template>
    </div>
    <div class="app-content">
      <vue-pdf-embed
        ref="pdfRef"
        :source="pdfSource"
        :page="page"
        @rendered="handleDocumentRender"
      />
    </div>
  </div>
</template>
<script>
import VuePdfEmbed from "vue-pdf-embed";
export default {
  components: {
    VuePdfEmbed,
  },
  data() {
    return {
      isLoading: true,
      page: null,
      pageCount: 1,
      pdfSource: "/pdf-file.pdf",
      showAllPages: false,
    };
  },
  watch: {
    showAllPages() {
      this.page = this.showAllPages ? null : 1;
    },
  },
  mounted() {
    // this.$route.params.id
    this.page = this.showAllPages ? null : 1;
    console.log(this.$route.params.id);
    // this.showAllPages = false
  },
  methods: {
    handleDocumentRender() {
      this.isLoading = false;
      this.pageCount = this.$refs.pdfRef.pageCount;
    },
  },
};
</script>
