html,
body {
  font-family: "Poppins", sans-serif !important;
}
.data-progress {
  span {
    display: inline-block;
    border: 1px solid $blue;
    color: $blue !important;
    &.is-active {
      background-color: $blue !important;
      color: #ffffff !important;
    }
  }
}
.table-responsive{
  min-height: 200px;
}
.bor-bottom{
  border-bottom: 1px solid #6a6a6b;
}

.month-year-display{
  border-color: #404656!important;
  background-color: #283046!important;
  color: #b4b7bd!important; 
  padding-top: 20px!important;
  padding-bottom: 15px!important;
}
.vue-monthly-picker .picker .monthItem .item {
  border-top: 1px solid #474950!important;
}
.vue-monthly-picker .picker .monthItem .item.active.selected{
  background: linear-gradient(90deg, #2F9BEE -3.48%, #40AE8F 52.87%, #50BF3B 121.03%) !important;
}
.vue-monthly-picker .picker .monthItem .item.active:hover{
  background-color: rgba(255, 255, 255, .2)!important;
}
.vue-monthly-picker .date-popover{
  border: 1px solid #242b3d!important;
  background: #283046!important;
}
.for-img-change {
  cursor: pointer;
}
.img-show {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.highcharts-credits {
  display: none !important;
}
.custom-card {
  .vx-card__collapsible-content.vs-con-loading__container {
    height: 100%;
    .vx-card__body {
      height: 100%;
      .custom {
        margin-top: 15%;
      }
    }
  }
}
.dark-layout .input-group .input-group-text {
  background: #e8f0fe !important;
}
// .apexcharts-legend{
//     div:nth-child(1){
//         span{
//             color: rgb(0, 143, 251) !important;
//         }
//     }
//     div:nth-child(2){
//         span{
//             color: #589c00!important;
//         }
//     }
// }

.dark-layout .table tbody tr:not([class*="table-"]) td {
  &:nth-child(1) {
    color: #589c00 !important;
    font-weight: 500 !important;
  }
}
.for-scroll {
  height: 400px !important;
  max-height: 600px !important;
  overflow-y: scroll !important;
}
.for-scroll {
  overflow: auto;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.max-h {
  height: 600px;
}
.for-scroll thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.auth-v2 {
  background-image: url("../../assets/images/pages/img-o.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.text-upper {
  text-transform: uppercase !important;
  input {
    text-transform: uppercase !important;
  }
}
.layout-container {
  &.show-layout {
    z-index: 9999999999999 !important;
  }
  .pdf-content {
    height: calc(100vh - 3.5rem) !important;
  }
}
.vdp-datepicker__calendar {
  z-index: 111111111 !important;
}
.input-same-select {
  color: inherit;
  position: relative;
  padding: 0.4rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 100%;
  padding: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}
.custom-select {
  input {
    line-height: 1.8 !important;
  }
}
.for-m2 {
  i {
    font-family: $font-family-sans-serif !important;
  }
}
.for-disabled-tooltip .apexcharts-tooltip {
  display: none !important;
}
.truncate {
  margin-top: 20px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #7a7a7a;
}
.audio__play-next {
  display: none !important;
}
.audio__play-prev {
  display: none !important;
}
.change-st {
  &.show {
    max-height: 30vh !important;
    overflow-y: scroll !important;
    li {
      &:nth-child(1) {
        position: sticky !important;
        top: -10px !important;
        background: #283046 !important;
      }
    }
  }
}
.v-selectstyle {
  border: 1px solid rgba(122, 122, 122, 0.5);
  border-radius: 5px;
}

.field-message-validation {
  font-size: 11px;
  color: rgb(255, 30, 30);
}
@media screen and (max-width:1200px) {
  .elipsis{
    display: inline-block;
      width: 100px; 
      position: relative;
      top: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
  }
}