@media screen and (max-width:1500px) {
  
    .max-h{
        max-height: 400px!important;
    }
 
  @for $i from 1 through 1000 {
    .w-res-tab-big-#{$i} {
      width: 1% * $i!important;
    } 
    .prl-res-tab-big-#{$i} {
      padding-left: 1px * $i;
      padding-right:1px * $i;
    } 
    .mt-res-tab-big-#{$i} {
      margin-top: 1px * $i!important;
    }
    .mt--res-tab-big-#{$i} {
      margin-top: -1px * $i!important;
    }
    .mb-res-tab-big-#{$i} {
      margin-bottom: 1px * $i!important;
    }
    .ml-res-tab-big-#{$i} {
      margin-left: 1px * $i;
    }
    .ml-res-tab-big--#{$i} {
      margin-left: -1px * $i;
    }
    .mr--res-tab-big-#{$i} {
      margin-right: 1px * $i;
    }
    .mar-res-tab-big-#{$i} {
      margin: 1px * $i;
    }
    .font-res-tab-big-#{$i} {
      font-size: 1px * $i!important;
    }
    .h-res-tab-big-#{$i} {
      height: 1px * $i!important;
    }
  }

}
@media screen and (max-width:1285px) {
    @for $i from 1 through 1000 {
      .w-res-tab-#{$i} {
        width: 1% * $i!important;
      } 
      .prl-res-tab-#{$i} {
        padding-left: 1px * $i;
        padding-right:1px * $i;
      }
    }
    .text-res-center{
      text-align: center;
    }
  }
  @media screen and (max-width:1000px) {
    @for $i from 1 through 1000 {
      .w-res-tab-small-#{$i} {
        width: 1% * $i!important;
      } 
      .h-res-tab-small-#{$i} {
        height: 1% * $i!important;
      } 
      .height-res-tab-small-#{$i} {
        height: 1px* $i!important;
      } 
      .prl-res-tab-small-#{$i} {
        padding-left: 1px * $i;
        padding-right:1px * $i;
      }
      .pb-res-tab-small-#{$i} {
        padding-bottom: 1px * $i!important;
      }
      .pt-res-tab-small-#{$i} {
        padding-top: 1px * $i!important;
      }
      .mt--res-tab-small-#{$i} {
        margin-top: -1px * $i!important; 
      }
      .mt-res-tab-small-#{$i} {
        margin-top: 1px * $i!important; 
      }
      .mb-res-tab-small-#{$i} {
        margin-bottom: 1px * $i!important; 
      }
    }
    .res-no-pad{
      padding: 0px!important;
    }
    .ml-none-res-tab-small{
      margin-left: 0px!important;
    }
    
    .text-res-tab-small-center{
      text-align: center;
    }
    .height-res-tab-small-auto{
      height: auto!important;
    }
    // component
    .img-logo-header img{
      width: 110px;
      top: 20px;
    }
    // navbar
    .bottom-navigation .navbar{
      justify-content: flex-end;
    }
    .dropdown-menu{
      background-color: transparent!important;
     text-align: right!important;
      a{
        color: #ffffff!important;
      }
    }
    .navbar-dark .navbar-toggler{
      color: rgba(255, 255, 255, 1);
      border-color: rgba(255, 255, 255, 1);
      &:focus{
        outline: none;
        color: rgba(255, 255, 255, 1);
        border-color: rgba(255, 255, 255, 1);

      }
    }
  }
  @media only screen and (max-width: 580px) {
    .ml-res-none{
      margin-left: 0px!important;
    }
    .mr-res-none{
      margin-right: 0px!important;
    }
    @for $i from 1 through 200 {
      .font-mobile-#{$i} {
        font-size: 1px * $i!important;
      }
      .pad-mobile-#{$i} {
        padding: 1px * $i!important;
      }
      .h-res-#{$i}{
        height:  1% * $i!important;
      }
    }
    .h-res-auto{
      height: auto!important;
    }
  
  @for $i from 1 through 1000 {
  
      .w-res-#{$i} {
        width: 1% * $i!important;
      } 
      .h-res-#{$i} {
          height: 1% * $i;
      }
      .height-res-#{$i} {
        height: 1px* $i!important;
      } 
      .w-res-px-#{$i} {
          width: 1px * $i;
        } 
        .h-res-px-#{$i} {
            height: 1px * $i;
        }
        .prl-res-#{$i} {
          padding-left: 1px * $i;
          padding-right:1px * $i;
        }
        .ml-res-#{$i} {
          margin-left:1px * $i!important;
        }
        .mb-res-#{$i} {
          margin-bottom:1px * $i!important;
        }
        .mt-res-#{$i} {
          margin-top:1px * $i!important;
        }
        .mr-res-#{$i} {
          margin-right: 1px * $i!important;
        }
      }
      .flex-res-none{
          display: inherit;
      }
      .d-res-inline-block{
          display: inline-block;
    }
    
    @for $i from 1 through 200 {
      .mt-res-#{$i} {
        margin-top: 1px * $i!important;
      }
      .mb-res-#{$i} {
        margin-bottom: 1px * $i!important;
      }
      .ml-res-#{$i} {
        margin-left: 1px * $i;
      }
      .ml-res--#{$i} {
        margin-left: -1px * $i;
      }
      .mr--res-#{$i} {
        margin-right: 1px * $i;
      }
      .mar-res-#{$i} {
        margin: 1px * $i;
      }
      .pt-res-#{$i} {
        padding-top: 1px * $i;
      }
      .pb-res-#{$i} {
        padding-bottom: 1px * $i!important;
      }
      .pl-res-#{$i} {
        padding-left: 1px * $i;
      }
      .pr-res-#{$i} {
        padding-right: 1px * $i;
      } 
      .pad-res-#{$i} {
        padding: 1px * $i!important;
      } 
      .ln-res-#{$i} {
        line-height: 1 * $i;
      }
    }
    
  }