$button-states: (primary : #589c00,
  primary-light: rgba(255, 107, 0, 0.10196078431372549),
  primary-thin : rgb(242, 251, 242),
  danger : rgba(227, 30, 36, 1),
  danger-lighter : rgba(209, 0, 0, .1),
  success: rgba(88, 156, 0, 1),
  success-light:rgba(88, 156, 0, .1),
  green-horse:rgba(176, 158, 36, 1),
  green-horse-light:rgba(176, 158, 36, .1),
  blue:rgba(12, 160, 222, 1),
  blue-light:rgba(12, 160, 222, .1),
  purple:rgba(136, 95, 183, 1),
  purple-light:rgba(136, 95, 183, .1),
  dark:#666,
  white:#fff,
  grey: rgba(153, 153, 153, 1),
  grey-light: #DDD,
  grey-thin:#F2F2F2,
);

@each $label,
$color in $button-states {
  .bg-#{$label} {
    background-color: $color !important;
  }

  .font-#{$label} {
    color: $color !important;
  }

  .bc-#{$label} {
    border-color: $color !important;
  }
}

@for $i from 1 through 200 {
  .font-#{$i} {
    font-size: 1px * $i !important;
  }

  .border-solid-#{$i} {
    border: 1px * $i solid;
  }

  .opacity-#{$i} {
    opacity: $i !important;
  }

  .border-bot-#{$i} {
    border-bottom: 1px * $i solid;
  }
}

@for $i from 1 through 900 {
  .radius-#{$i} {
    border-radius: 1px * $i;
  }
}

@for $i from 1 through 900 {
  .font-weight-#{$i} {
    font-weight: 100 * $i;
  }
}

@for $i from 1 through 200 {
  .mt-#{$i} {
    margin-top: 1px * $i !important;
  }

  .mb-#{$i} {
    margin-bottom: 1px * $i !important;
  }

  .ml-#{$i} {
    margin-left: 1px * $i;
  }

  .left-#{$i} {
    left: 1px * $i !important;
  }

  .leftp-#{$i} {
    left: 1% * $i !important;
  }

  .ml--#{$i} {
    margin-left: -1px * $i;
  }

  .mr-#{$i} {
    margin-right: 1px * $i;
  }

  .prl-#{$i} {
    padding-left: 1px * $i;
    padding-right: 1px * $i;
  }

  .mar-#{$i} {
    margin: 1px * $i;
  }

  .pt-#{$i} {
    padding-top: 1px * $i !important;
  }

  .pb-#{$i} {
    padding-bottom: 1px * $i;
  }

  .pl-#{$i} {
    padding-left: 1px * $i !important;
  }

  .pl-#{$i}p {
    padding-left: 1%* $i !important;
  }

  .pr-#{$i} {
    padding-right: 1px * $i;
  }

  .pad-#{$i} {
    padding: 1px * $i;
  }

  .ln-#{$i} {
    line-height: 1 * $i;
  }
}

@for $i from 1 through 1000 {

  .w-#{$i} {
    width: 1% * $i !important;
  }

  .h-#{$i} {
    height: 1% * $i !important;
  }

  .w-px-#{$i} {
    width: 1px * $i;
  }

  .h-px-#{$i} {
    height: 1px * $i;
  }

  .top-#{$i} {
    top: 1px * $i !important;
  }

  .bottom-#{$i} {
    bottom: 1px * $i !important;
  }

}

.shadow-bold {
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.margin-auto {
  margin: auto !important;
}

.d-inline-block {
  display: inline-block;
}

.scroll-x-auto {
  overflow-x: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.justify-end {
  justify-content: flex-end;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.w-auto {
  width: auto !important;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.box {
  box-sizing: border-box;
}
.elipsis-2{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.elipsis-1{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}