<script setup>
defineProps({
  msg: {
    type: String,
    required: true,
  },
});
</script>

<template>
  <div class="greetings">
    <h1 class="font-danger">{{ msg }}</h1>
    <h3>Open The PDF List At Right Now.</h3>
  </div>
</template>
