<script setup>
import { RouterLink, RouterView } from "vue-router";
import PdfView from "@/components/PdfView.vue";
</script>

<template>
  <header>
    <img
      alt="Vue logo"
      class="logo"
      src="@/assets/image-pdf.png"
      width="125"
      height="125"
    />
    <div class="wrapper">
      <PdfView msg="PDF View!" />
      <nav>
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/list-pdf">List Pdf</RouterLink>
      </nav>
    </div>
  </header>
  <RouterView />
</template>
